* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Baskerville', serif;
}
body {
    background-color: #045a838e;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}

.container {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

.bg-gradient {
    background: linear-gradient(to right,#0e2d7b51,#110ca779);
}
.bg-white {
    background-color: #d8dbe2d2;
}
.bg-black {
    background-color: #060c328d;
}

.radius {
    border-radius: 7px;
}

/* CABEÇALHO */
.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url() center center/56px no-repeat;
}
.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #18033c;
    border-radius: 56px;
    cursor: pointer;
}
.title {
    color: #fff;
    font-size: 2.5em;
    margin-top: 1%;
}
.subtitle {
    color: #dad0d0;
    font-size: 1.5em;
    margin-bottom: 2%;
}

/* SERVIÇOS */
.servico {
    width: 100%;
    text-align: left;
    margin-bottom: 3%;
    background-color: #d8dbe2d2;
}
.servico img {
    border-radius: 7px 7px 0 0;
}
.inner {
    padding: 7%;
}
.inner a {
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
}
.inner h4 {
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}
.inner p {
    margin-top: 6%;
    color: #130400;
    line-height: 1.5em;
}

/* RODAPÉ */
.social-icons a {
    font-size: 1.5em;
    color: rgba(255,255,255,0.7);
    margin-right: 3%;
}
.social-icons a:last-child {
    margin-right: 0;
}
.social-icons a:hover {
    color: rgb(255,255,255);
}
.copyright {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 2%;
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 768px) {
    .servico {
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .servico:nth-child(2) {
        margin-right: 0;
    }
}

@media screen and (min-width: 960px) {
    .servico {
        width: 32%;
    }
    .servico:nth-child(2) {
        margin-right: 2%;
    }
    .servico:nth-child(3) {
        margin-right: 0;
    }
}
