* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baskerville', serif;
}

body {
    background-color: #045a838e;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 1em;
    color: #fff;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.blog {
    margin-top: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 7px;
}

.post-title {
    font-size: 3em;
    margin-bottom: 10px;
}

.post-date {
    font-size: 1em;
    color: #666;
}

.post img {
    max-width: 10%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* BANNER */
.banner {
    background: url('Img/MCmagem_site.jpg') no-repeat fixed center;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-leia-mais {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #0e2d7b;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn-leia-mais:hover {
    background-color: #0c2358;
}

.bg-black {
    background-color: #060c328d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-icons a {
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.7);
}

.social-icons a:hover {
    color: #fff;
}

.copyright {
    margin-top: 10px;
    font-size: 0.9em;
}

/* Responsividade */
@media (min-width: 768px) {
    .blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .post {
        flex: 1 1 calc(30% - 20px);
        margin: 10px;
    }
}
